@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-item {
  list-style: none;
  display: flex;
  gap: 44px;
  display: none;
}
.navbar,
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  gap: 9.5rem;
  height: 4rem;
}
.logo {
  gap: 1rem;
}
.fa-solid{
  /* padding: 10px; */
  font-size: 22px;
}
/* shared styles */
.centre-text {
  text-align: center;
}
.color-2 {
  color: rgb(255, 255, 255);
}
.color-3 {
  color: rgba(19, 19, 24, 0.7);
}
.color-4 {
  color: rgb(90, 90, 93);
}
/* Color one */
#color-one {
  background-color: rgb(255, 84, 0);
}
/* section one style */
.section-one {
  background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
  filter: brightness(92%);
  background-position: center;
  width: 350px;
  height: 483px;
  margin: 0 auto;
  display: block;
  padding-top: 2rem;
  border-radius: 16px;
  margin-top: 1rem;
}
.section-box-one {
  width: 304px;
  height: 99px;
  margin: 0 auto;
}
.section-box-two {
  width: 287px;
  height: 288px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.input {
  width: 255px;
  height: 52px;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
}
::placeholder,
option,
select {
  color: rgba(19, 19, 24, 0.5);
  font-weight: 400;
  padding-left: 10px;
}
/* section two */
.section-two-box-one {
  width: 335px;
  margin: 0 auto;
}
.section-two-list {
  margin-left: 15px;
  margin-bottom: 16px;
  & li {
    margin-bottom: 12px;
    margin-top: 16px;
    color: rgba(19, 19, 24, 0.7);
    font-size: 14px;
  }
}
.section-two-title {
  margin-top: 24px;
  margin-bottom: 16px;
}
.btn-two {
  border-radius: 8px;
  background: rgb(255, 84, 0);
  width: 174px;
  height: 52px;
  border: none;
  margin-top: 24px;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
.section-two-box-two {
  display: flex;
  & img {
    width: 335px;
    height: 342px;
    margin: 0 auto;
    margin-top: 24px;
    filter: brightness(70%);
  }
}
/* section 3 styles */
.section-three-box-one{
  width: 309px;
  height: 72px;
  margin: 0 auto;
  & h3{
    margin-top: 24px;
    margin-bottom: 16px;
  }
  & p{
    padding-bottom: 16px;
  }
}
 /* your destination */
.row-one, .row-two, .row-three{
  width: 335px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  & img{
    margin-top: 16px;
  }
}
.row-one{
  margin-top:45px;
}
.country-card{
  position: relative;
  & img{
    width: 100%;
    height: 176px;
    filter: brightness(70%);
  }
  & p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 1.2rem;
    transform: translate(-50%,-50%);
  }
}
/* section-four */
.section-four{
  margin-top: 24px;
  & .section-four-box-one{
    width: 309px;
    height: 113px;
    margin: 0 auto;
    margin-bottom: 1rem;
    & h3{
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }
}
.section-four-outer-one, .section-four-outer-two, .section-four-outer-three{
  width: 21rem;
  height: 18.1rem;
  margin: 0 auto;
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  background: rgba(251, 181, 99, 0.05);
  display: flex;
  align-items: center;
}
.section-four-outer-two{
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
  margin-top: 1rem;
}
.section-four-outer-three{
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  margin-top: 1rem;
}
.section-four-inner{
  margin: 2rem;
  & h3{
    font-size: 20px;
    margin-top: 1rem;
  }
  & p{
    margin-top: 1rem;
  }
  & .fa-solid{
    font-size: 3rem;
  }
}

/* responsive */
@media only screen and (min-width: 850px) {
  /* navbar styles */
  .navbar {
    display: flex;
    align-items: center;
    gap: 400px;
  }
  .fa-solid {
    display: none;
  }
  .nav-item {
    display: unset;
    list-style: none;
    display: flex;
    gap: 44px;
  }
  /* section-one */
  .section-one-outer {
    /* align-items: center; */
    /* margin: auto; */
    width: 800px;
    height: 288px;
    margin: auto;
  }
  .section-one {
    width: 1170px;
    height: 500px;
    display: flex;
    align-items: center;
  }
  .section-box-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-title {
    width: 596px;
    height: 80px;
    font-size: 64px;
    font-weight: 800;
  }
  .section-description {
    width: 676px;
    height: 52px;
    font-weight: 400;
  }
  .section-box-two {
    width: 800px;
    height: 84px;
    display: flex;
    flex-direction: row;
    margin-top: 48px;
  }
  .input {
    width: 174px;
    height: 52px;
    margin: 0 24px;
  }
  /* section two */
  .section-two {
    display: flex;
    justify-content: center;
    gap: 53px;
    margin-top: 100px;
    height: 470px;
    & .section-two-box-one {
      width: 577px;
      margin: 0;
    }
    & .section-two-box-two {
      width: 540px;
      height: 470px;
    }
    .section-two-title {
      font-size: 40px;
      font-weight: 800;
      margin-bottom: 24px;
    }
    .section-two-description {
      margin-bottom: 32px;
      margin-top: 24px;
    }
  }
  /* section three */
  .section-three{
    display: flex;
    flex-direction: column;
    min-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .section-three-box-one{
    width: 643px;
    height: 126px;
    margin: 0 auto;
    & h3{
      width: 478px;
      height: 50px;
      font-size: 40px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    & p{
      width: 643px;
      height: 52px;
      margin: 0 auto;
    }
  }
  .section-three-box-two{
    width: 73rem;
    margin: 0 auto;
  }
  .row-one{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    width: 73rem;
    /* margin: 0; */
    & img {
      width: 95%;
      height: 300px;
    }
  }
  .row-two{
    display: grid;
    flex-direction: column;
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
    width: 73rem;
    & img {
      width: 95%;
      height: 300px;
    }
  }
  .row-three{
    display: grid;
    flex-direction: column;
    grid-template-columns: 0.75fr 1.25fr;
    width: 73rem;
    & img {
      width: 95%;
      height: 300px;
    }
  }
  /* Section Four */
  /* .section-four{
    width: 73rem;
    margin: 0 auto;
    margin-top: 100px;
  }
  .section-four-box-one{
    width: 643px;
    height: 126px;
    margin: 0 auto;
    & h3, p{
      text-align: center;
      width: 643px;
      margin: 0 auto;
    }
  } */
  /* .section-four-outer-one{} */
}
