@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar, .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    gap: 9.5rem;
    height: 4rem;
}
.logo{
    gap: 1rem;
}